@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@1,500&family=Crimson+Text:ital@0;1&display=swap");

* {
  margin: 0;
  font-family: "Crimson Text", "Times New Roman";
  color: white;
  letter-spacing: 0.1rem;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #0F182A;
    padding: 0;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    max-width: 100%; 
    overflow-x: hidden;
  }
  
  nav .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
  }
  
  nav {
    position: fixed;
    width: 100%;
    z-index: 99;
    font-weight: bold;
  }
  
  nav .studio {
    align-items: left;
    margin-left: 10px;
  }
  
  nav .mainnav {
    align-items: right;
    margin-right: -10px;
  }
  
  .navigation a:hover {
    color: lightskyblue;
  }
  
  .subnav-content a:hover {
    color: lightskyblue;
  }
  
  .subnav a:hover {
    color: lightskyblue;
  }
  
  .subnav button {
    cursor: pointer;
  }
  
  .navigation {
    overflow: hidden;
    background-color:black;
  }
  
  .navigation a {
    float: left;
    font-size: 16px;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  .subnav a:hover {
    color: lightskyblue;
    cursor: pointer;
  }
  
  .subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    animation: none;
    font-weight: bold;
  }
  
  .subnav:hover .subnavbtn {
    background-color: black;
    animation: none;
  }
  
  .subnav-content {
    display: none;
    position: absolute;
    background-color: black;
    width: 150px;
    animation: none;
  }
  
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
    animation: none;
  }
  
  .subnav:hover .subnav-content {
    display: block;
    animation: none;
  }

  /*finish nav*/

.main-content {
  text-align: center;
  padding-top: 200px;
}

  .main-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding-bottom: 20px;
}

/* star buttons */

    /* Styles for Button 1 */
    #imageButton1 {
      width: 100px;
      height: 110px;
      border: none;
      background: url(star.png) no-repeat;
      background-size: cover;
      cursor: pointer;
      position: relative;
      top: -495px;
      left: 150px;
      display: flex; /* or display: grid; */
      justify-content: space-around; /* or other appropriate value */
    }

/* Define the style for the hovered state */
#imageButton1:hover {
  background: url(starhover.png);
  background-size: cover;
}

/* Style for the container of the clicked image */
#clickedImageContainer1 {
  overflow: hidden;
  display: none; /* Hide initially */
}

/* Style for the clicked image */
#clickedImage1 {
  width: 250px;
  position: absolute;
  top: 240px;
  left: 215px;
  z-index: 30;
}

    /* Styles for Button 2 */
    #imageButton2 {
      width: 100px;
      height: 110px;
      border: none;
      background: url(star.png) no-repeat;
      background-size: cover;
      cursor: pointer;
      position: relative;
      top: -415px;
      left: 1102px;
      z-index: 50;
      display: flex; /* or display: grid; */
      justify-content: space-around; /* or other appropriate value */
    }

    /* Define the style for the hovered state */
#imageButton2:hover {
  background: url(starhover.png);
  background-size: cover;
}

/* Style for the container of the clicked image */
#clickedImageContainer2 {
  overflow: hidden;
  display: none; /* Hide initially */
}

/* Style for the clicked image */
#clickedImage2 {
  width: 250px;
  position: absolute;
  top: 240px;
  left: 885px;
  z-index: 20;
}

    /* Styles for Button 3 */
    #imageButton3 {
      width: 100px;
      height: 110px;
      border: none;
      background: url(star.png) no-repeat;
      background-size: cover;
      cursor: pointer;
      position: relative;
      top: -235px;
      left: 883px;
      z-index: 60;
      display: flex; /* or display: grid; */
      justify-content: space-around; /* or other appropriate value */
    }

    /* Define the style for the hovered state */
#imageButton3:hover {
  background: url(starhover.png);
  background-size: cover;
}

/* Style for the container of the clicked image */
#clickedImageContainer3 {
  overflow: hidden;
  display: none; /* Hide initially */
}

/* Style for the clicked image */
#clickedImage3 {
  width: 250px;
  position: absolute;
  top: 460px;
  left: 960px;
  z-index: 10;
}

/*footer*/
 
.footer {
  background-color: black;
  padding: 25px;
  padding-top: 50px;
  z-index: 10;
  margin-top: -150px;
}

.footer p {
  text-align: center;
  margin-right: 15%;
  margin-left: 15%;
}

.roww {
  display: flex;
  margin-right: 25%;
  margin-left: 25%;
  padding: 25px;
}

.image img {
  width: 120px;
}

.studio img {
  width: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.endnav {
  text-align: center;
}

.endnav a:hover {
  color: lightskyblue;
}

.rating img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
}