@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@1,500&family=Crimson+Text:ital@0;1&display=swap');


* {
    margin: auto;
    font-family:'Crimson Text', 'Times New Roman';
    color: white;
    letter-spacing: .1rem;
    text-decoration: none;
}

body {
    background-color: maroon;
}

nav .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 99;
}

nav .studio {
    align-items: left;
    margin-left: 10px;
}

nav .mainnav {
    align-items: right;
    margin-right: -10px;
}

.navigation a:hover {
    color: red;
}

.subnav-content a:hover {
    color: red;
}

.subnav a:hover {
    color: red;
}

.subnav button {
    cursor: pointer;
}


.navigation {
    overflow: hidden;
    background-color: black;
  }

  .navigation a {
    float: left;
    font-size: 16px;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
  }


  .subnav {
    float: left;
    overflow: hidden;
  }

  .subnav a:hover {
    color: red;
    cursor: pointer;
  }

  .subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    animation: none;
  }

    .subnav:hover .subnavbtn {
    background-color: black;
    animation: none;
  }


  .subnav-content {
    display: none;
    position: absolute;
    background-color: black;
    width: 150px;
    animation: none;

  }

  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
    animation: none;
  }

  .subnav:hover .subnav-content {
    display: block;
    animation: none;
  }

  .gamelogo img {
    display: flex;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
  }

  /*slideshow*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin-left: 0%;
  margin-right: 0%;
  background-color: black;
}

/* Hide the images by default */
.mySlides img {
  display: block;
  margin-left: auto;
  margin-right: auto;  
  animation: none;             
  justify-content: center;
  width: 35%;    
  padding-top: 10px;
  padding-bottom: 10px;              
}                                   


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: red;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: black;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}

.active, .dot:hover {
  background-color: red;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* end */

/* character scroll */

.cs img {
    width: 175px;
    height: 250px;
    object-fit: cover;
    filter: grayscale(100%);
    transition: filter 0.5s ease;
    background-color: black;
}

.cs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    margin: 5px;
    margin-left: 100px;
    margin-right: 100px;
}

.cs img:hover {
    filter: grayscale(0%);
    transform: scale(105%); 
}

.gallery {
    position: relative;
}


figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-weight: bolder;
    font-size: 24px;
    text-align: center;
    opacity: 100%;
    cursor: pointer;
  }



.buygame {
    display: flex;
    margin-right: 25%;
    margin-left: 25%;
    padding: 25px;
  }
  
  .buygame img {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


  .plot {
margin-left: 15%;
margin-right: 15%;
  }
  
 .ch {
    text-align: center;
 }

 .plot p {
    text-align: justify;
    text-indent: 30px;
    font-size: 19px;
 }

 .buy h1 {
    text-align: center;
 }
 

 /* footer*/ 

.footer {
    background-color: black;
    padding: 25px;
    padding-top: 50px;
  }
  
  .footer p {
    text-align: center;
    margin-right: 15%;
    margin-left: 15%;
  }
  
  .roww {
    display: flex;
    margin-right: 25%;
    margin-left: 25%;
    padding: 25px;
  }
  
  .image img {
    width: 120px;
  }
  
  .studio img {
    width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .endnav {
    text-align: center;
  }
  
  .endnav a:hover{
    color: red;
  }

  .tiny {
    font-size: 10px;
  }